<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 17b Send Message to Patients/Doctors</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 align="center">Send Message to Patients/Doctors</h1>
    <center><img src="img/buzz CS4400 image.jpg" align="middle">
    <table border="1">
        <tr>
            <td><table style="width:400px">
                <tr>
                    <td>Select Doctor:</td>
                    <td><select>
                        <option value="doc1">Dr.Mary Simpson</option>
                        <option value="doc2">Dr.Philip Tudini</option>
                        <option value="doc3">Dr.Mark Brent</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td><textarea id="dmessageField" name="dmessage"></textarea></td>
                </tr>
                <tr>
                    <td id="messageValidationError" class="validationError">* Message is required.</td>
                </tr>
            </table></td>
            <td><table style="width:400px">
                <tr>
                    <td>Select Patient:</td>
                    <td><select>
                        <option value="doc1">Nancy Baker (770-783-98-23)</option>
                        <option value="doc2">Lora Spencer (782-928-9290)</option>
                        <option value="doc3">Nick Brown (404-574-53-09)</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td><textarea id="pmessageField" name="pmessage"></textarea></td>
                </tr>
            </table></td>
        </tr>
    </table>
    <br>
    <button id="sendMessageButton" type="button">Send Message</button>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure17b.js"></script>
  </body>
</html>