<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 17a Send Message to Doctor</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 align="center">Send Message to Doctor</h1>
    <center><img src="img/buzz CS4400 image.jpg" align="middle">
    <table style="width:400px">
        <tr>
            <td>Select Name:</td>
            <td><select <select id="dNameOption">>
                <option value="doc1">Dr. Mary Simpson</option>
                <option value="doc2">Dr. Mary Rose</option>
                <option value="doc3">Dr. Philip Tudini</option>
            </select></td>
        </tr>
        <tr>
            <td>Message:</td>
            <td><textarea id="messageField" name="message"></textarea></td>
            <td id="messageValidationError" class="validationError">* Message is required.</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><button id="sendMessageButton" type="button">Send Message</button></td>
        </tr>
    </table>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure17a.js"></script>
  </body>
</html>