<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 6 Appointments</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 align="center">Schedule Appointments<br>With Doctors</h1>
    <center><img src="img/buzz CS4400 image.jpg" align="middle"></center>
    <center><p>Specialty:
    <select>
      <option value="eye">Eye Physicians</option>
      <option value="general">General Physicians</option>
      <option value="heart">Heart Specialists</option>
      <option value="orthopedic">Orthopedics</option>
      <option value="psychiatry">Psychiatrists</option>
      <option value="gynecologist">Gynecologists</option>
    </select><button type="button">Search</button></p></center>
    <center><table style="width:700px" border="1">
    <tr>
      <td>Doctor Name</td>
      <td>Phone Number</td> 
      <td>Room Number</td>
      <td>Availability</td>
      <td>Average Rating</td>
    </tr>
    <tr>
      <td>Dr.X</td>
      <td>123-456-7890</td>
      <td># 600</td>
      <td>Monday: 1:30PM - 5:00PM    <input type="checkbox" name="appointment" value="1"></td>
      <td><img src="img/buzz_ratings.jpg" align="middle"><img src="img/buzz_ratings.jpg" align="middle"></td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>Wednesday: 12:00PM - 3:30PM    <input type="checkbox" name="appointment" value="1"></td>
      <td> </td>
    </tr>
    </table></center>
    <br><center><button type="button">Request Appointment</button></p>
    <a href="home">Return to Homepage</a></center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.html"></script>
  </body>
</html>