<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 9 Visit History</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- Data to be passed in from server -->
    <script type='text/javascript'>
      var serverData =<%-JSON.stringify(data)%>
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body><center>
    <h1 align="center">View Visit History</h1>
    <br>
    <img src="img/buzz CS4400 image.jpg" align="middle">
    <br>
    <div id="menu" style="background-color:#FFFFFF;height:400px;width:200px;float:left;">
    <b>Dates of Visits</b><br>
    <br><table style="width:100px" border="1" id="visitDateTable">
    </table>
    </div>

    <div id="content" style="background-color:#FFFFFF;height:400px;width:200px;float:left;">
    <br><table style="width:500px">
    <tr>
      <td>Consulting Doctor:</td>
      <td><form><input type="text" name="doctorname"><br></form></td>
    </tr>
    <tr>
      <td>Blood Pressure:</td>
      <td><form>Systolic: <input type="text" name="sysnumber"></form><form>
      <form>Diastolic: <input type="text" name="diasnumber"></form></td>
    </tr>
    <tr>
      <td>Diagnosis:</td>
      <td><select>
        <option value="eye">Diagnosis 1</option>
        <option value="general">Diagnosis 2 - optional</option>
        <option value="heart">Diagnosis 3 - optional</option>
        <option value="orthopedic">Diagnosis 4 - optional</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Medications Prescribed:</td>
      <td><table style="width:500px" border="1">
      <tr>
        <td style="width:150px">Medicine Name</td>
        <td style="width:100px">Dosage</td>
        <td style="width:80px">Duration</td>
        <td style="width:300px">Notes</td>
      </tr>
      <tr>
        <td>Med1</td>
        <td>1 per day</td>
        <td>10 days</td>
        <td>Notes Here</td>
      </tr>
      <tr>
        <td>Med2</td>
        <td>2 per day</td>
        <td>20 days</td>
        <td>Notes Here</td>
      </tr>
      </td>
      </table>

    </table>
    </div>
    <a href="patienthome">Return to Homepage</a>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure9.js"></script>
  </center>
  </body>
</html>