<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 18 Messages</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 align="center">Messages</h1>
    <center><img src="buzz CS4400 image.jpg" align="middle">
    <table style="width:700px" border="1">
    <tr>
      <td align="center">Status</td>
      <td align="center">Date</td> 
      <td align="center">From</td>
      <td align="center">Message</td>
    </tr>
    <tr>
      <td align="center">Unread</td>
      <td align="center">01/23/2010</td>
      <td align="center">Nancy Baker</td>
      <td align="center">Hi Doc. Im feeling much better now</td>
    </tr>
    <tr>
      <td align="center">Read</td>
      <td align="center">11/09/2009</td>
      <td align="center">Dr. Mary Simpson</td>
      <td align="center">Hi, What are your thoughts about the case we spoke about?</td>
    </tr>
    </table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><p align="center"><a href="goback">Back</a></p></td>
    </tr>
    
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure18.js"></script>
  </body>
</html>