<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 15 Record a Visit</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- Data to be passed in from server -->
    <script type='text/javascript'>
      var serverData =<%-JSON.stringify(data)%>
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <center><h1 align="center">Record a Visit</h1>
    <img src="img/buzz CS4400 image.jpg" align="middle">
      <table style="width:400px">
        <tr>
          <td>Date of Visit:</td>
          <td><input id="dovField" type="date" name="date"></td>
          <td id="dovValidationError" class="validationError">* Date of visit is required.</td>
        </tr>
        <tr>
          <td>Patient Name:</td>
          <td><select id="pnameField"></select></td>
        </tr>
        <tr>
          <td>Systolic Blood Pressure:</td>
          <td><input id="sbpField" type="number" name="systolic"></td>
          <td id="sbpValidationError" class="validationError">* Systolic blood pressure is required.</td>
        </tr>
        <tr>
          <td>Diastolic Blood Pressure:</td>
          <td><input id="dbpField" type="number" name="diastoic"></td>
          <td id="dbpValidationError" class="validationError">* Diastolic blood pressure is required.</td>
        </tr>
        <tr>
          <td>Diagnosis:</td>
          <td><textarea id="diagnosisField" name="diagnosis"></textarea></td>
          <td><button id="addDiagnosisButton">Add</button></td>
          <td id="diagnosisAddSuccess" class="success" style="margin-top: 20px; margin-left: 0">Diagnosis added.</td>
        </tr>
      </table>
      <br><b>Prescribe Medication</b>
      <br><table style="width:500px" id="drugList">
        <tr>
          <td>Drug Name:</td>
          <td><input id="drugField" type="text" name="drug"></td>
          <td id="drugValidationError" class="validationError">* Drug name is required.</td>
        </tr>
        <tr>
          <td>Dosage:</td>
          <td><select id="dosage">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>per day</td>
        </tr>
        <tr>
          <td id="durationField">Duration:</td>
          <td><select id="monthDuration">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>months
          <select id="dayDuration">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
          </select>days
          </td>
          <td id="durationValidationError" class="validationError">* Duration is required.</td>
        </tr>
        <tr>
          <td>Notes:</td>
          <td><textarea id="notes" name="notes"></textarea></td>
          <td><button id="addprescriptionbutton" type="submit" style="margin-top: 10px">Add New Prescription</button></td>
          <td id="addSuccess" class="success" style="margin-top: 20px; margin-left: 0">Medication added to basket.</td>
        </tr>
        <tr>
          <td><button id="submitButton" type="submit">Submit</button></td>
        </tr>
      </table>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure15.js"></script>
  </body>
</html>