<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 8 Payment Information</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- Data to be passed in from server -->
    <script type='text/javascript'>
      var serverData =<%-JSON.stringify(data)%>
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<h1 align="center">Payment Information</h1>
    <center><img src="img/buzz CS4400 image.jpg" align="middle">
    <table style="width:500px">
        <tr>
            <td>Cardholder's Name:</td>
            <td><input type="text" id="name" name="name"></td>
            <td id="cardholderValidationError" class="validationError">*Cardholder's Name is required.</td>
        </tr>
        <tr>
            <td>Card Number:</td>
            <td><input type="number" id="cardNum" name="cardNum"></td>
            <td id="cardNumValidationError" class="validationError">*Card number is required.</td>
        </tr>
        <tr>
            <td>Type of Card:</td>
            <td><select id="cardType">
                <option value="visa">Visa</option>
                <option value="mastercard">MasterCard</option>
                <option value="amex">American Express</option>
                <option value="discover">Discover</option>
              </select>
            </td>
        </tr>
        <tr>
            <td>CVV:</td>
            <td><input type="number" id="cvvNum" name="cvvNum"></td>
            <td id="cvvValidationError" class="validationError">*CVV is required.</td>
        </tr>
        <tr>
            <td>Date of Expiry:</td>
            <td><input type="date" id="expireDate" name="expireDate"></td>
            <td id="dateValidationError" class="validationError">*Date of expiry is required.</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><button id="orderbutton" type="button">Order</td>
        </tr>
    </table>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure8.js"></script>
  </body>
</html>