<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 3 Patient Profile Screen</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 align="center">Patient Profile</h1>
    <center><img src="img/buzz CS4400 image.jpg" align="middle"></center>
    <center><form>
    Patient Name: <input type="text" name="name"><br>
    Date of Birth: <input type="date" name="birthday"><br>
    Gender:
    <select>
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select><br>
    Address: <input type="text" name="address"><br>
    Homephone: <input type="tel" name="hphone"><br>
    Workphone: <input type="tel" name="wphone"><br>
    Weight: <input type="number" name="weight"><br>
    Height: <input type="text" name="height"><br>
    Annual Income ($):
    <select>
      <option value="low">0-25000</option>
      <option value="middle">25000-50000</option>
      <option value="high">50000+</option>
    </select><br>
    <allergies>Allergies: <input type="text" name="allergy"></allergies>
    <button type="button" id="btn1">Add<br></button>
    <center><button type="button">Register</a></center>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.html"></script>
    <script>
    $(document).ready(function(){
    $("#btn1").click(function(){
      $("allergies").append("Added");
     });
     });
    </script>
  </body>
</html>