<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 21 Doctor Performace Report</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 align="center">Doctor Performance Report</h1>
    <center><img src="buzz CS4400 image.jpg" align="middle">
    <table style="width:600px" border="1">
    <tr>
      <td align="center">Specialty</td>
      <td align="center">Average Rating</td> 
      <td align="center">No of Surgeries Performed</td>
    </tr>
    <tr>
      <td align="center">General Physician</td>
      <td align="center">3</td>
      <td align="center">10</td>
    </tr>
    <tr>
      <td align="center">Heart Specialist</td>
      <td align="center">2.3</td>
      <td align="center">8</td>
    </tr>
    </table>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure21.js"></script>
  </body>
</html>