<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 11 Doctor Homepage</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">
    
    <!-- Data to be passed in from server -->
    <script type='text/javascript'>
      var serverData =<%-JSON.stringify(data)%>
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <center><h1 align="center">Doctor Homepage</h1>
    <img src="img/buzz CS4400 image.jpg" align="middle"></center>
    <center>
      <table style="width:600px">
        <tr>
          <td></td>
          <td><p align="right"><a href="inbox" id="messagesMessage"></a></p></td>
        </tr>
        <tr><td><a href="dailyappointmentscalendar">View Appointments Calendar</a></td>
        <tr><td><a href="patientvisithistory">Patient Visits</a></td></tr>
        <tr><td><a href="surgeryrecord">Record a Surgery</a></td></tr>
        <tr><td><a href="sendmessagetopatient">Communicate</a></td></tr>
        <tr><td><a href="doctorprofile">Edit Profile</a></td></tr>
        <tr><td><a href="login">Logout</a></a></td></tr>
      </table>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure11.js"></script>
  </body>
</html>