<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure 3 Patient Profile Screen</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gtmrs.css" rel="stylesheet">

    <!-- Data to be passed in from server -->
    <script type='text/javascript'>
      var serverData =<%-JSON.stringify(data)%>
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <center><h1 align="center">Patient Profile</h1>
    <img src="img/buzz CS4400 image.jpg" align="middle">
      <table style="width:700px">
        <tr>
          <td>Patient Name:</td>
          <td><input id="nameField" type="text" name="name"></td>
          <td id="nameValidationError" class="validationError">* Name is required.</td>
        </tr>
        <tr>
          <td>Date of Birth:</td>
          <td><input id="dobField" type="date" name="birthday"></td>
          <td id="dobValidationError" class="validationError">* Invalid Date of Birth.</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td><select id="genderOption">
            <option value="F">Female</option>
            <option value="M">Male</option>
          </select></td>
        </tr>
        <tr>
          <td>Address:</td>
          <td><input id="addressField" type="text" name="address"></td>
          <td id="addressValidationError" class="validationError">* Address is required.</td>
        </tr>
        <tr>
          <td>Home Phone:</td>
          <td><input id="homePhoneField" type="tel" name="hphone"></td>
          <td id="homePhoneValidationError" class="validationError">* Home Phone is required.</td>
        </tr>
        <tr>
          <td>Work Phone:</td>
          <td><input id="workPhoneField" type="tel" name="wphone"></td>
          <td id="workPhoneValidationError" class="validationError">* Work Phone is required.</td>
        </tr>
        <tr>
        <tr>
          <td>Emergency Contact Name:</td>
          <td><input id="emergencyNameField" type="tel" name="emergencyname"></td>
          <td id="emergencyNameValidationError" class="validationError">* Emergency Contact Name is required.</td>
        </tr>
        <tr>
        <tr>
          <td>Emergency Contact Phone:</td>
          <td><input id="emergencyPhoneField" type="tel" name="emergencyphone"></td>
          <td id="emergencyPhoneValidationError" class="validationError">* Emergency Contact Phone is required.</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td><input id="weightField" type="number" name="weight"></td>
          <td id="weightValidationError" class="validationError">* Weight is required.</td>
        </tr>
        <tr>
          <td>Height:</td>
          <td><input id="heightField" type="text" name="height"></td>
          <td id="heightValidationError" class="validationError">* Height is required.</td>
        </tr>
        <tr>
          <td>Annual Income ($):</td>
          <td>
          <select id="incomeOption">
            <option value=0>0-25000</option>
            <option value=1>25000-50000</option>
            <option value=2>50000+</option>
          </select>
          </td>
        </tr>
        <tr>
          <td>Emergency Contact Name:</td>
          <td><input id="EcontantName" type="text" name="EcontactName"></td>
          <td id="econtactValidationError" class="validationError">* Emergency contact name is required.</td>
        </tr>
        <tr>
          <td>Emergency Contact Phone:</td>
          <td><input id="EcontactPhone" type="text" name="EcontactPhone"></td>
          <td id="ephoneValidationError" class="validationError">* Emergency contact phone number is required.</td>
        <tr>
          <td>Allergies:</td>
          <td><input id="allergyField" type="text" name="allergy"> </td>
          <td><button id="allergyAddButton" type="button">Add</button></td>
          <td id="allergyValidationError" class="validationError">* Allergy name is required.</td>
          <td id="allergyDuplicateError" class="validationError">* An allergy of that name already exists.</td>
        </tr>
        <tr id="allergyList">
          <tr class="allergyListRow">
          </tr>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><button id="submitButton" type="button">Submit</button></td>
        </tr>
      </table>
    </center>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/figure3.js"></script>
  </body>
</html>