.allergyListRow {
	font-size: 13px;
}

.allergyListElementOffset {
	padding-left: 20px;
}

.validationError {
	position: absolute;
	white-space: nowrap;
	overflow: visible;
	color: red;
}

.left {
    left: 0px;
    padding-left: 20px;
}